@import "../../styles/header.scss";
@import "../../styles/normalize.scss";
@import "../../styles/colors.scss";
@import "../../styles/footer.scss";

.app {
  .scrollbar-container {
    display: flex;
    align-items: center;
    justify-content: center !important;
    width: 90%;
    margin: 0 auto;
    .swiper-scrollbar {
      background-color: rgba(255, 255, 255, 0.3);
      // max-width: 540px !important;
      position: unset;
      width: 90%;
    }
    .swiper-scrollbar-drag {
      background-color: white;
    }
  }
  .design-services {
    background: $primary-bg-color;
    padding-bottom: 101px;
    .container {
      h1 {
        color: rgb(255, 255, 255);
        font-size: 35px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 36px;
      }
    }
    .design-services-cards {
      padding-bottom: 99px;
      display: flex;
      align-items: center;
      overflow: auto;

      .design-services-card {
        padding-left: 40px;
        padding-top: 40px;
        box-sizing: border-box;
        border: 1px solid rgb(255, 255, 255);
        width: 406px;
        height: 509px;
        position: relative;
        .card-title {
          color: rgb(255, 255, 255);
          font-size: 32px;
          font-weight: 700;
          line-height: 40px;
          letter-spacing: 0%;
          text-align: left;
        }
        .card-content {
          color: rgb(255, 255, 255);
          padding-top: 132px;
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          letter-spacing: 0%;
          text-align: left;
          max-width: 305px;
        }
        .card-link {
          position: absolute;
          bottom: 40px;
          display: flex;
          align-items: center;
          column-gap: 7px;
          padding: 11px 11px 11px 15px;
          box-sizing: border-box;
          border: 1px solid rgb(255, 255, 255);
          border-radius: 50px;
        }
      }
    }
  }
}
@media (max-width: 410px) {
  .design-services-card {
    min-width: 320px !important;
  }
}
