@import "../styles/colors.scss";

@font-face {
  font-family: "Monrope";
  src: url("../assets/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: $primary-text-color;
  font-family: "Monrope";
}
