@import "./colors.scss";
@import "./normalize.scss";

.header {
  background-color: $primary-bg-color;
  padding: 65px 0;

  .header__logo-img {
    width: 106px;

    img {
      width: 100%;
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__list {
      display: flex;
      column-gap: 49px;
      align-items: center;
      justify-content: space-between;

      @mixin activeStyleList {
        opacity: 0.3;
        transition: opacity 0.4s ease;
        font-size: 16px;
        font-weight: 500;

        &:hover {
          opacity: 0.7;
        }

        &.active {
          opacity: 1;
        }
      }

      .nav__pages {
        display: flex;
        justify-content: space-around;
        align-items: center;
        column-gap: 33px;

        .nav__item {
          @include activeStyleList();
        }
      }

      .nav__langs {
        display: flex;
        column-gap: 9px;
        border: 1px solid rgba(255, 255, 255, 0.6);
        padding: 6px 10px;
        border-radius: 75px;
        font-size: 16px;

        .nav__item {
          @include activeStyleList();
        }
      }
    }
  }
}
